<div class="background">
  <h3 class="title">Welcome {{ username }}</h3>

  <div class = "container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class = "table table-dark">
        <tr>
          <td>First Name:</td>
          <td> <input type="text" *ngIf="editUser" [(ngModel)]="user.firstname"></td>
        </tr>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

  <div class="userInfo">
    <span class="userLabel">First Name</span>
    <span *ngIf="!editUser" [textContent]="user?.firstname" class="userInput">
    </span>
    <input type="text" *ngIf="editUser" [(ngModel)]="user.firstname" class="userInput" />
  </div>
  <div class="userInfo">
    <span class="userLabel">Last Name</span>
    <span *ngIf="!editUser" [textContent]="user?.lastname" class="userInput">
    </span>
    <input type="text" *ngIf="editUser" [(ngModel)]="user.lastname" class="userInput" />
  </div>
  <div class="userInfo">
    <span class="userLabel">Username</span>
    <span class="userInput"> {{ user?.username }} </span>
  </div>
  <div class="userInfo">
    <span class="userLabel">Email</span>
    <span *ngIf="!editUser" [textContent]="user?.email" class="userInput"></span>
    <input type="email" *ngIf="editUser" [(ngModel)]="user.email" class="userInput" />
  </div>
  <div class="userInfo">
    <span class="userLabel">Birth Place</span>
    <span *ngIf="!editUser" [textContent]="user?.place" class="userInput">
    </span>
    <input type="text" *ngIf="editUser" [(ngModel)]="user.place" class="userInput" />
  </div>
  <div class="userInfo">
    <span class="userLabel">Birth Date</span>
    <span *ngIf="editUser" [textContent]="user?.date" class="userInput"> </span>
    <input type="date" *ngIf="editUser" [(ngModel)]="user.date" class="userInput" />
  </div>
  <div class="userInfo" *ngIf="loggedUser!=user?.username">
    <div *ngIf="editUser" class="btn-group btn-primary groupBtn">
      <button class="btn btn-success button" (click)="apdateUser()">
        Update
      </button>
      <button *ngIf="editUser" class="btn btn-danger button" (click)="reject()">
        Reject
      </button>
    </div>
    <div *ngIf="!editUser " class="btn-group btn-primary groupBtn">
      <button type="button" class="btn btn-block btn-md btn-primary button" (click)="edit()">
        Edit
      </button>
    </div>
  </div>


<h3 class="title" style="margin-top: 30px">Read Books</h3>
<div class="requestList" *ngFor="let book of user?.nizProcitanih"
  style="margin-top: 20px; height: 150px; overflow-y: scroll">
  <div class="userInfo">
    <span class="userLabel">Title:</span>
    <span class="userInput"> {{ book }} </span>
  </div>
  <div class="btn-group btn-primary groupBtn">
    <button type="button" class="btn btn-block btn-md btn-primary button" (click)="addComment(book)">
      Add Comment
    </button>
  </div>
</div>

<h3 class="title" style="margin-top: 30px">Reading Books</h3>
<div class="requestList" *ngFor="let book of user.nizKojeTrenutnoCita"
  style="margin-top: 20px; height: 150px; overflow-y: scroll">
  <div class="userInfo">
    <span class="userLabel">Title:</span>
    <span class="userInput"> {{ book.book }} </span>
  </div>
  <div class="userInfo">
    <span class="userLabel">RedaPaged:</span>
    <span class="userInput"> {{ book.readPages }} </span>
  </div>
  <div class="userInfo">
    <span class="userLabel">Pages:</span>
    <span class="userInput"> {{ book.pages }} </span>
  </div>
  <div>
    <input type="number" min="0" max="{{ book.pages }}" *ngIf="book === editBook" [(ngModel)]="book.readPages"
      class="userInput" />
  </div>

  <div *ngIf="editBook == book" class="btn-group btn-primary groupBtn">
    <button class="btn btn-success button" (click)="apdateBookUser(book)">
      Update
    </button>
    <button *ngIf="editBook == book" class="btn btn-danger button" (click)="rejectBook(book)">
      Reject
    </button>
  </div>
  <div *ngIf="editBook !== book" class="btn-group btn-primary groupBtn">
    <button type="button" class="btn btn-block btn-md btn-primary button" (click)="editBookProfile(book)">
      Edit
    </button>
  </div>
  <div *ngIf="book.pages / 2 < book.readPages" class="btn-group btn-primary groupBtn">
    <button type="button" class="btn btn-block btn-md btn-primary button" (click)="addComment(book.book)">
      Add Comment
    </button>
  </div>
</div>


<div *ngIf="service.getUserType() == 'moderator'">
<h3 class="title">Book requests</h3>
<div class="requestList" *ngFor="let bookRequest of bookRequests">
  <div class="userInfo">
    <span class="userLabel">Title:</span>
    <span class="userInput"> {{ bookRequest.title }} </span>
  </div>
  <div class="userInfo" *ngFor="let author of bookRequest.authors">
    <span class="userLabel">Authors:</span>
    <span class="userInput"> {{ author }} </span>
  </div>
  <div class="userInfo" *ngFor="let genre of bookRequest.genres">
    <span class="userLabel">Genres:</span>
    <span class="userInput"> {{ genre }} </span>
  </div>
  <div class="userInfo">
    <span class="userLabel">Date:</span>
    <span class="userInput"> {{ bookRequest.date }} </span>
  </div>
  <div class="userInfo">
      <div class="btn-group btn-primary groupBtn">
          <button class="btn btn-success button"
              (click)="acceptBookRequest(bookRequest)">Accept</button>
          <button class="btn btn-danger button"
              (click)="deleteBookRequest(bookRequest)">Reject</button>
      </div>
  </div>
</div>
</div>

<button type="submit" class="btn btn-block btn-md btn-primary button" (click)="changePassword()">
  Change Password
</button>

<mat-toolbar color="primary">
  <span>
    <a mat="button" routerLink="/newbook" routerLinkActive="mat-accent">ADD A BOOK</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat="button" routerLink="/book" routerLinkActive="mat-accent">ALL BOOKS</a>
    </li>
  </ul>
</mat-toolbar>
</div>
