<div class="background1">
  <div class="clr-input-wrapper inputWrapper">
    <input
      style="width: 200px"
      type="text"
      id="basic"
      [(ngModel)]="filter"
      placeholder="Enter name here"
      class="clr-input"
    />
  </div>
  <div style="width: 100%; margin-bottom: 10px">
    <select
      clrSelect
      name="options"
      [(ngModel)]="zanr"
      style="margin-left: 100px"
    >
      <option *ngFor="let zanr of zanrovi" value="{{ zanr.name }}">
        {{ zanr.name }}
      </option>
    </select>
  </div>
  <div>
    <button (click)="searchTitle()">Search Title</button>
    <button (click)="searchAuthors()">Search Author</button>
    <button (click)="searchGenre()">Search Genre</button>
    <button (click)="clearFilters()">Clear Filters</button>
  </div>

  <h3 class="title" style="margin-top: 30px">Books</h3>
  <div
    class="requestList"
    *ngFor="let book of books"
    style="margin-top: 20px; height: 150px; overflow-y: scroll"
  >
    <div class="userInfo">
      <span class="userLabel">Title:</span>
      <span class="userInput"> {{ book.title }} </span>
    </div>
    <div class="userInfo" *ngFor="let author of book.authors">
      <span class="userLabel">Authors:</span>
      <span class="userInput"> {{ author }} </span>
    </div>
    <div class="userInfo" *ngFor="let genre of book.genres">
      <span class="userLabel">Genres:</span>
      <span class="userInput"> {{ genre }} </span>
    </div>
    <div class="userInfo">
      <span class="userLabel">Date:</span>
      <span class="userInput"> {{ book.date }} </span>
    </div>
    <div class="userInfo">
      <div class="btn-group btn-primary groupBtn">
        <button class="btn btn-success button" (click)="bookPage(book)">
          Details
        </button>
      </div>
    </div>
  </div>

  <h3 class="title" style="margin-top: 30px">Events</h3>
  <div
    class="requestList"
    *ngFor="let event of events"
    style="margin-top: 20px; height: 150px; overflow-y: scroll"
  >
    <div class="userInfo">
      <span class="userLabel">Name:</span>
      <span class="userInput"> {{ event.name }} </span>
    </div>
    <div class="userInfo">
      <span class="userLabel">Date From:</span>
      <span class="userInput"> {{ event.dateFrom | date }} </span>
    </div>
    <div class="userInfo">
      <span class="userLabel">Date To:</span>
      <span class="userInput"> {{ event.dateTo | date }} </span>
    </div>
  </div>
</div>
